<%- include('../partials/_header.ejs') %>

    <h1>Connectez-vous</h1>

    <form action="/auth/login" method="post" class="w-75 mx-auto my-5">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div>
            <button type="submit" class="btn btn-success">Se connecter</button>
            <button type="reset" class="btn btn-danger">Effacer</button>
        </div>
    </form>

    <%- include('../partials/_footer.ejs') %>